/* General */
body {
    height: 4000px;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Arial;
    margin-left: 0;
    margin-right: 0;
    text-align: center
}

#gradient {
    height: 100%;
    align-items: center;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    vertical-align: middle;
    animation: bg-animation 10s infinite alternate;
    background-size: 300%;
}

.diving {
    border-color: red;
    border-width: 5px;
    border-style: dashed;
}

/* Mast Head */
#mast-head {
    display: grid; 
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

#mast-grid {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


@keyframes bg-animation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.mast-head-item {
    width: fit-content;
    font-family: Roboto;
    transition: font-size 1s;
    border: solid;
    padding: 5px;
}

.mast-head-item:hover {
    cursor: pointer;
    font-size: 18px;
}

#mast-head-items {
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#name {
    margin: auto;
    padding-left: 10%;
    margin-left: 10%;
    text-align: center;
    padding-left: 0;
    cursor:default;
}

#name:hover {
    font-size: 16px;
}

/* About Me */

#about-me-info {
    margin: auto;
    width: 30%;
    padding: 1%;
}

#about-me-heading {
    margin-left: auto;
}

#about-me-text {
    font-family: Roboto;
}

/* Projects */

#projects-heading {
    margin-left: auto;
}

.project {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.project-image {
    margin: auto;
}

.project-desc {
    
}

