/* General */
body {
    height: 4000px;
    margin: 0;
}

h1 {
    font-family: Arial;
    margin-left: 0;
    margin-right: 0;
    text-align: center
}


/* Mast Head */
#mast-head {
    display: grid; 
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

#gradient {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    vertical-align: middle;
    animation: bg-animation 10s infinite alternate;
    background-size: 300%;
}

@keyframes bg-animation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}

.mast-head-items {
    width: fit-content;
    font-family: Roboto;
    transition: font-size 1s;
    border: solid;
    padding: 5px;
}

.mast-head-items:hover {
    cursor: pointer;
    font-size: 18px;
}

#mast-head-items-div {
    height: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

#name {
    padding-left: 10%;
    margin-left: 10%;
    text-align: center;
    padding-left: 0;
    cursor:default;
}

#name:hover {
    font-size: 16px;
}

/* About Me */

#about-me-info {
    width: 30%;
    margin-left: 60%;
    padding-left: 5%;
    padding-right: 5%;
}

#about-me-text {
    font-family:sans-serif;
}


