p {
    display: inline-block;
}

#mast-head {
    /* display: grid; */
    /* align-items: center; */
    background-color: black;
    width: 100%;
    height: 100px;
}

.gradient {
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    vertical-align: middle;
    animation: bg-animation 5s infinite alternate;
    /* doesnt work with grid, develop new layering system */
}

@keyframes bg-animation {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}



.mast-head-items {
    font-family: Roboto;
}

#mast-head-items-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#name {
    padding-left: 10%;
}

body {
    height: 4000px;
    margin: 0;
}


